<footer class="flex flex-center space-around">
  <div class="contact-info">
    <p><a href="mailto:support@sentservices.com">support@sentservices.com</a></p>
    <p><a href="tel:+15125247802">(512) 524-7802‬</a></p>
  </div>
 <div class=" social-links flex space-evenly">
    <a href="https://www.facebook.com/groups/406922236853328/" target="blank"><img src="/assets/images/facebook-icon.png" width="30" height="30" alt="facebook-icon"></a>
    <a href="https://www.instagram.com/Sent.Services/" target="blank"><img class="space-around-left" src="/assets/images/instagram-icon.png" width="30" height="30" alt="instagram-icon"></a>
    <a href="https://twitter.com/SentServices" target="blank"><img class="space-around-right" src="/assets/images/twitter-icon.png" width="30" height="30" alt="twitter-icon"></a>
    <a href="https://www.linkedin.com/company/sentservices/" target="blank"><img src="/assets/images/linkedin-icon.png" width="30" height="30" alt="linkedin-icon"></a>
  </div>
  <p class="trademark">©2020 by Sent (Not For Profit)</p>
</footer>