<header class="flex flex-center space-between">
  <a href="/">
    <div class="sent-logo flex">
      <div>
        <img src="./assets/logo/sent_logo.png" width="55" />
      </div>
      <div class="headline">
        <h1>Sent.</h1>
        <h4>Connecting Texas.</h4>
      </div>
    </div>
  </a>

  <nav>
    <ul class="flex space-evenly">
      <li>
        <a href="#">
          Carry Now
        </a>
      </li>
      <li>
        <a href="/#how-it-works">
          How It Works
        </a>
      </li>
      <li>
        <a href="mailto:support@sentservices.com" target="blank">
          Contact
        </a>
      </li>
      <li>
        <a href="#">
          Support Us
        </a>
      </li>
      <li>
        <a href="#">
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>
