<header class="flex space-between">
  <div class="sent-logo flex">
    <div>
      <img
        src="./assets/logo/Sent Logo Official Flat copy.png"
        width="60"
        height="60"
      />
    </div>
    <div class="headline">
      <h1>Sent.</h1>
      <h4>Connecting Texas.</h4>
    </div>
  </div>
  <nav>
    <ul class="flex space-evenly">
      <li>
        <a href="#">
          Carry Now
        </a>
      </li>
      <li>
        <a href="#">
          How It Works
        </a>
      </li>
      <li>
        <a href="mailto:support@sentservices.com">
          Contact
        </a>
      </li>
      <li>
        <a href="#">
          Support Us
        </a>
      </li>
      <li>
        <a href="#">
          Login
        </a>
      </li>
    </ul>
  </nav>
</header>