<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Carrier!</title>
    <link rel="stylesheet" href="./css/carrier-intro.css">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <%- include('./includes/header'); %>
    <main class="carrier-intro">
        <h1 class="intro-title">Earn some extra 
            <span class="highlight">cash</span> on your trips
        </h1>
        <section class="intro-hero">
            <div class="title-subtitle">
                <p>Connect with others to earn additional cash doing deliveries
                    on your travels around <span class="highlight">Texas</span></p>
                <div>
                    <a href="#">Get Started</a>
                </div>
            </div>
            <img src="https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="car-driving">
        </section>
        <h1 class="list-title">How can I start earning as a carrier?</h1>
        <section class="list">
            <div class="list-content">
                <div class="list-content-bullet">
                    <h1>1</h1>
                    <div>
                        <h2>List what dates and where you will be traveling</h2>
                        <p>Enter the dates and location you will be traveling to notify senders of when you will be available to carry</p>
                    </div>
                </div>
                <div class="list-content-bullet">
                    <h1>2</h1>
                    <div>
                        <h2>Get matched with a sender in the area</h2>
                        <p>Our platform will help match you with a sender that is best fit to your time and area where you can setup a pick up date and time.</p>
                    </div>
                </div>
                <div class="list-content-bullet">
                    <h1>3</h1>
                    <div>
                        <h2>Travel & earn</h2>
                        <p>Travel to your original destination and enjoy making some cash on the side by delivering packages</p>
                    </div>
                </div>
            </div>
            <img src="https://images.unsplash.com/photo-1562385234-41cd30b5a9f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="carrying-package">
        </section>
    </main>
    <%- include('./includes/footer'); %>
</body>
</html>