<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrier | Add New Trip</title>
    <!-- Favicon, Styles and Scripts for Header and Footer -->
    <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <!-- Header -->
    <%- include('./includes/header.ejs') %>
    <!-- Footer -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
