<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Sign Up | Sent.</title>
  </head>
  <body>
    <main class="login">
      <form action="/sign-up" method="POST" enctype="multipart/form-data">
        <div class="logo">
          <img src="./assets/logo/sent_logo.png" alt="" />
          <div>
            <h1>Sent.</h1>
            <h2>Connecting Texas.</h2>
          </div>
        </div>
        <h1 class="login-title">Sign Up Now</h1>

        <div class="form-input">
          <label for="first-name">First Name:</label>
          <input type="text" name="firstName" id="first-name" />
        </div>
        <div class="form-input">
          <label for="last-name">Last Name:</label>
          <input type="text" name="lastName" id="last-name" />
        </div>
        <div class="form-input">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
        </div>
        <div class="form-input">
          <label for="phone-number">Phone Number:</label>
          <input type="tel" name="phoneNumber" id="phone-number" />
        </div>
        <div class="form-input">
          <label for="image">Profile Picture:</label>
          <input type="file" name="image" id="image"/>
        </div>
        <div class="password-container">
          <div class="form-input">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="form-input">
            <label for="confirm-password">Confirm Password:</label>
            <input
              type="password"
              name="confirm-password"
              id="confirm-password"
            />
          </div>
        </div>

        <div class="login-btns">
          <button type="submit" class="login-btn">Register</button>
        </div>
        <p>
          Already have an account?
          <a class="switch" href="/login">Log in here.</a>
        </p>
      </form>
      <img
        class="login-img"
        src="https://images.unsplash.com/photo-1517940539453-517b8afbe85e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
        alt="sent-passenger"
      />
    </main>
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
