* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  visibility: hidden;
  display: none;
}

.blue {
  color: #1c5d99;
}

.center {
  text-align: center;
}

.flex-margin {
  display: flex;
  margin: 20px 0 0 20px;
}

.flex-margin i {
  margin-right: 13px;
}

.flex {
  display: flex;
}

.receiver-title {
  text-align: center;
}

.gray-box {
  display: flex;
  margin: 2rem 20vw;
  padding: 1rem 4rem;
  background-color: #ebebeb;
  border-radius: 5px;
}

#title-cost {
  justify-content: space-between;
  margin-right: 20%;
}

#offer-left {
  width: 60%;
}

#offer-left img {
  width: 80%;
  height: 13rem;
  object-fit: cover;
  border-radius: 5px;
}

#trip-locations {
  justify-content: space-between;
  margin-right: 20%;
}

.margin-left {
  margin-left: 10px;
}

.top-spacing {
  margin-top: 5px;
}

.right-spacing {
  margin-right: 5px;
}

.margin-bot {
  margin-bottom: 5px;
}

.more-margin-bot {
  margin-bottom: 1rem;
}
.small-text {
  font-size: 0.75em;
}

.package-cost {
  color: #1c5d99;
}

.package-description {
  color: #1c5d99;
  font-weight: 800;
}

.previous-trip-header {
  text-align: center;
}

.previous-trip-route {
  text-align: center;
  width: 10rem;
}

#previous-trip {
  margin: 1rem 20vw;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 1rem 2rem;
}

#current-trip {
  margin: 1rem 20vw;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 1rem 2rem 2rem 2rem;
}

.prevtrip-margin-left {
  margin-left: 4rem;
}

.bot-margin {
  margin: 0 0 1rem 0;
}

.no-offer img {
  width: 30%;
  margin-left: 36%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.no-offer-text {
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.package-title {
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
}

.accept {
  margin-right: 2rem;
}

.button {
  background-color: #1c5d99;
  color: #ffffff;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-transform: none;
  width: 7rem;
  border-radius: 5px;
  margin: 2rem auto;
  white-space: nowrap;
  border: #1c5d99 1px solid;
  cursor: pointer;
}

.button a {
  color: #fff;
}

.acceptance-btn {
  margin-bottom: -30px;
  position: absolute;
  bottom: 0;
}

.accept {
  margin-right: 15px;
}

#offer-right {
  position: relative;
}

.button:hover {
  background-color: #ffffff;
  color: #1c5d99 !important;
  transition: 0.4s;
  border: #1c5d99 1px solid;
}
.hover-color:hover {
  color: #1c5d99;
}

.button a {
  width: max-content;
  height: max-content;
}

.button a:hover {
  color: #1c5d99;
}

.decline:hover {
  border: #ff0000 1px solid;
  color: #ff0000;
}

.margin-top {
  margin-top: 5px;
}

.more-margin-top {
  margin-top: 1.5rem;
}

.center-img {
  object-fit: none;
  object-position: 20% center;
}
/* #previous-trip {
  
} */

.fa-long-arrow-alt-right {
  margin: auto 10px;
}

#previous-trip h4 {
  font-size: 1.1em;
}

#previous-trip h5 {
  font-weight: 600;
}
.prev-sender {
  position: absolute;
  margin-left: 25vw;
}
.prev-price {
  position: absolute;
  margin-left: 50vw;
}

/* popup css */

.popup-box {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.7);
  /* display: none; */
}

#popup-wrapper {
  width: 550px;
  margin: 50px auto;
  text-align: left;
}

#popup {
  background-color: #fff;
  padding: 15px;
}

/* popup modal styling */

.bg-modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contents {
  height: 180px;
  width: 40vw;
  background-color: white;
  text-align: center;
  padding: 2rem 4rem;
  position: relative;
  border-radius: 4px;
  outline: none;
}

.popup-title {
  margin-bottom: 1rem;
}

.popup-contact div {
  padding: 0.5rem 3rem;
  margin-left: 1.5rem;
}

.acceptance {
  margin-bottom: 1rem;
}

.contact-title {
  margin-bottom: 0.5rem;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  color: #333;
  transform: rotate(45deg);
  cursor: pointer;
}

.close:hover {
  color: #666;
}

@media (max-width: 1100px) {
  #offer-left img {
    width: 165%;
    margin: 0;
  }

  #offer-right {
    width: 70vw;
  }
  .gray-box {
    display: block;
    padding: 1rem;
    margin: 10vw;
  }
  #title-cost {
    margin-right: 5%;
    margin-bottom: 10px;
    width: 160%;
  }
  #trip-locations {
    margin-right: 5%;
    margin-bottom: 10px;
    width: 160%;
  }
  #previous-trip {
    margin: 2rem 10vw;
    padding: 2rem;
  }
  .package-title {
    margin-right: 0;
    width: 165%;
  }

  .acceptance-btn {
    text-align: center;
  }

  .prev-sender {
    position: absolute;
    margin-left: 35vw;
  }
  .prev-price {
    position: absolute;
    margin-left: 65vw;
  }

  .modal-contents {
    width: 90vw;
  }

  .acceptance-btn {
    position: relative;
  }
}

@media (max-width: 800px) {
  .previous-trip-route {
    /* white-space: nowrap; */
    display: flex;
    margin: auto;
    margin-bottom: 1rem;
  }

  .flex-margin {
    flex-direction: column;
  }

  #previous-trip .flex {
    justify-content: space-between;
  }
  .prevtrip-margin-left {
    margin-left: 0;
  }

  #previous-trip {
    flex-direction: column;
  }

  .prev-sender {
    position: relative;
    margin: initial;
    text-align: center;
    margin-top: 1rem;
  }
  .prev-price {
    position: relative;
    margin: initial;
    text-align: center;
    margin-top: 1rem;
  }
}
