@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

header {
  background-color: rgb(248, 250, 252);
  height: 75px;
}

header a {
  color: #000;
}

.sent-logo {
  margin-left: 1em;
}

.headline {
  margin-left: 0.5em;
}

.headline h1 {
  font-weight: 600;
  font-size: 1.75rem;
}

.headline h4 {
  font-weight: 500;
}

nav li {
  list-style: none;
}

nav {
  width: 30%;
}

nav a {
  text-decoration: none;
  color: #707070;
}

.nav-active {
  display: block;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
}

.main img {
  width: 100%;
  min-height: 300px;
}

.container {
  position: relative;
} 

.container h1 {
  font-size: 3rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.container h2 {
  font-size: 2.6rem;
  color: #fff;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-bar {
  position: absolute;
  width: 50%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 50px;
  padding: 0.5em 1em;
}

.search-bar label {
  display: block;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
}

.search-control {
  width: 30%;
}

.search-bar button {
  padding: 1em 1.2em;
  border-radius: 50%;
  background-color: #169bd7;
}

.search-bar button:hover {
  background-color: #148dc5;
}

.search-bar button:active {
  background-color: #117cad;
}

.search-bar .fa-search {
  font-size: 1rem;
  color: #fff;
}

.how-it-works {
  padding-top: 2em;
}

.how-it-works h2 {
  font-size: 2rem;
}

.connect-steps {
  margin: 2em 0em;
}

.connect-step {
  width: 20%;
  height: 200px;
}

.connect-step h3 {
  font-size: 1.5rem;
}

.featured {
  margin: 2em 0em 8em 0em;
}

.featured img {
  min-width: 200px;
  max-width: 250px;
}

.featured h2 {
  margin: 1.5em 0em;
}

.space-left {
  margin-left: 1em;
}

.space-right {
  margin-right: 1em;
}

footer {
  margin-top: auto;
  height: 100px;
  background-color: #2b6ca3;
  color: #fff;
  font-weight: 300;
}

.contact-info a {
  color: #fff;
}

.contact-info a:hover {
  color: #fff;
  opacity: 60%;
}

.social-links {
  width: 200px;
}

.social-links img:hover {
  opacity: 60%;
}

@media (max-width: 1500px) {
  nav {
    width: 40%;
  }
}

@media (max-width: 1320px) {
  .container h1 {
    font-size: 2.5rem;
  }
  .container h2 {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  nav {
    width: 50%;
  }
  .search-bar {
    width: 70%;
  }
}

@media (max-width: 890px) {
  .container h1 {
    font-size: 2.2rem;
    width: 80%;
    text-align: center;
  }
  .container h2 {
    width: 80%;
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 75px;
    height: 180px;
    background-color: rgb(248, 250, 252);
    z-index: 2;
  }

  nav ul {
    height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .hamburger {
    display: block;
    margin-right: 3em;
  }

  .featured {
    margin: 0em 0em 5em 0em;
  }

  .featured h2 {
    margin: 0px;
  }

  .featured div {
    flex-direction: column;
    align-items: center;
  }

  .featured img {
    margin: 0em 0em 1em 0em;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding: 2em;
  }
  footer div {
    margin-bottom: 1em;
  }
  .connect-steps {
    flex-direction: column;
    align-items: center;
  }
  .connect-step {
    text-align: center;
    width: 50%;
  }
  .search-bar {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 2rem;
    width: 100%;
  }
  .container h2 {
    width: 80%;
    font-size: 1.5rem;
  }
  .connect-step {
    text-align: center;
    width: 70%;
  }
}
