@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.center-text {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

header {
  background-color: #FFF;
  height: 70px;
  box-shadow: 5px 10px;
}

.sent-logo {
  margin-left: 1em;
}

.headline {
  margin-left: .5em;
}

.headline h1 {
  font-weight: 600;
  font-size: 1.75rem;
}

.headline h4 {
  font-weight: 500;
}

nav li {
  list-style: none;
}

nav {
  width: 30%;
}

nav a {
  text-decoration: none;
  color: #707070;
}

main img {
  width: 100%;
}

.container {
  position: relative;
}

.container h1 {
  font-size: 3rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

.container h2 {
  font-size: 2.6rem;
  color: #FFF;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-bar {
  position: absolute;
  width: 50%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color:#FFF;
  border-radius: 50px;
  padding: .5em 1em;
}

.search-bar label {
  display: block;
}

.search-bar input {
  border: none;
  outline: none;
}